@media screen and (min-width: 1440px)
header
    font-family: $lato
    background-color: #363B47
    display: flex
    text-align: center
    justify-content: space-evenly
    align-items: center
    height: 60px
    h1
        font-size: 30px
        color: white
        font-weight: normal

nav
    font-family: $lato
    display: flex
    justify-content: space-between
    align-items: center
    justify-content: center
    ul
        li
            text-transform: uppercase
            font-weight: lighter
            display: inline
            color: black
            font-size: 15px
            padding-left: 15px
            padding-right: 15px
            padding-bottom: 30px
            padding-top: 15px
            a
                color: #FFEAE5
                text-decoration: none
            &:hover
                background-color: #3676BB
                border-radius: 3px

body
    background-color: #EFEFF1
    margin: 0
    padding: 0

.section1
    img
        height: 300px
        width: 100%
        margin-bottom: -60px

.section2
    font-family: $lato
    background-color: #E8E6E0
    height: 300px
    h2
        font-weight: normal
        text-align: center
        width: 60%
        margin: 50px auto
        color: #7A848D
        padding-top: 100px
        .span1
            font-weight: bolder
            background-color: #26A2CC
            color: white
            padding: 2px
        .span2
            font-weight: bolder
            color: #26A2CC
        .span3 
            font-weight: bolder
            color: #69747F

.section3
    font-family: $lato
    display: flex
    width: 80%
    margin: 30px auto
    justify-content: space-evenly
    align-items: center
    .boite1, .boite2, .boite3, .boite4
        margin-top: 20px
        margin-left: 20px
        margin-right: 20px
        background-color: #E8E6E0
        text-align: center
        height: 300px
        width: 250px
        border-radius: 10px
        i
            font-size: 25px
            margin-top: 20px
            background-color: white
            padding: 20px
            border-radius: 50%
            color: #3676BB
        h2
            color: #5C5C71
            text-transform: uppercase
            font-size: 15px
            margin-bottom: -10px
        h4
            font-size: 15px
            font-weight: normal
            color: #26A2CC
        p
            font-size: 14px
            color: #7E7E7E
            text-align: center
            width: 80%
            margin: 0 auto

.section4
    font-family: $lato
    display: flex
    width: 80%
    margin: 0 auto
    padding-top: 50px
    justify-content: space-around
    .portfolio
        width: 400px
        height: 290px
        margin: 20px
        h1
            color: #839199
            font-size: 18px
        .p1
            color: #A9A9AA
            font-size: 15px
        p
            color: #7A7A7A
            font-size: 15px

        button
            background-color: #26A2CC
            color: white
            border: #26A2CC solid 1px
            border-radius: 5px
            margin-top: 15px
            padding-top: 15px
            padding-bottom: 15px
    .cartes
        display: flex
        margin: 15px
        .carte1, .carte2, .carte3
            text-align: center
            color: white
            background-color: #38485F
            width: 200px
            height: 275px
            margin: 3px
            border-radius: 10px
            img
                height: 140px
                width: 200px
                z-index: 1
            h1
                text-transform: uppercase
                font-size: 20px
                color: #C3C4CD
            p
                color: #C3C4CD
                font-size: 15px

footer
    font-family: $lato
    background-color: #3676BB
    height: 350px
    text-align: center
    h1 
        font-weight: normal
        color: #B0C5DC
        padding: 40px
        text-transform: uppercase
    h4
        font-weight: normal
        color: #B0C5DC
        padding-bottom: 20px
        font-size: 15px
        width: 60%
        margin: 0 auto
    ul
        i
            opacity: 50%
            color: #B0C5DC
            font-size: 40px
            margin: 15px
            padding-bottom: 30px
    .basfooter
        background-color: #363B47
        height: 30px
        padding: 20px
        margin-top: -20px
        color: #6A6C72

@media screen and (min-width: 1024px) and (max-width: 1439px)

header
    font-family: $lato
    background-color: #363B47
    display: flex
    text-align: center
    justify-content: space-evenly
    align-items: center
    height: 60px
    h1
        font-size: 25px
        color: white
        font-weight: normal

nav
    font-family: $lato
    display: flex
    justify-content: space-between
    align-items: center
    justify-content: center
    ul
        li
            text-transform: uppercase
            font-weight: lighter
            display: inline
            color: black
            font-size: 13px
            padding-left: 15px
            padding-right: 15px
            padding-bottom: 30px
            padding-top: 15px
            a
                color: #FFEAE5
                text-decoration: none
            &:hover
                background-color: #3676BB
                border-radius: 3px

body
    background-color: #EFEFF1
    margin: 0
    padding: 0

.section1
    img
        height: 200px !important
        width: 100%
        margin-bottom: -60px

.section2
    font-family: $lato
    background-color: #E8E6E0
    height: 200px !important
    h2
        font-size: 20px
        font-weight: normal
        text-align: center
        width: 60%
        margin: 30px auto
        color: #7A848D
        padding-top: 50px !important
        .span1
            font-weight: bolder
            background-color: #26A2CC
            color: white
            padding: 2px
        .span2
            font-weight: bolder
            color: #26A2CC
        .span3 
            font-weight: bolder
            color: #69747F

.section3
    font-family: $lato
    display: flex
    width: 80%
    margin: 30px auto
    justify-content: space-evenly
    align-items: center
    .boite1, .boite2, .boite3, .boite4
        margin-top: 20px
        margin-left: 20px
        margin-right: 20px
        background-color: #E8E6E0
        text-align: center
        height: 280px !important
        width: 280px !important
        border-radius: 10px
        i
            font-size: 20px !important
            margin-top: 20px
            background-color: white
            padding: 15px !important
            border-radius: 50%
            color: #3676BB
        h2
            color: #5C5C71
            text-transform: uppercase
            font-size: 13px !important
            margin-bottom: -10px
        h4
            font-size: 13px !important
            font-weight: normal
            color: #26A2CC
        p
            font-size: 13px !important
            color: #7E7E7E
            text-align: center
            width: 80%
            margin: 0 auto

.section4
    font-family: $lato
    display: flex
    width: 80%
    margin: 0 auto
    padding-top: 50px
    justify-content: space-around
    .portfolio
        width: 400px
        height: 290px
        margin: 20px
        h1
            color: #839199
            font-size: 15px !important
        .p1
            color: #A9A9AA
            font-size: 13px !important
        p
            color: #7A7A7A
            font-size: 13px !important

        button
            background-color: #26A2CC
            color: white
            border: #26A2CC solid 1px
            border-radius: 5px
            margin-top: 10px !important
            padding-top: 15px
            padding-bottom: 15px
    .cartes
        display: flex
        margin: 15px
        .carte1, .carte2, .carte3
            text-align: center
            color: white
            background-color: #38485F
            width: 150px !important
            height: 290px !important
            margin: 3px
            border-radius: 10px
            img
                height: 100px !important
                width: 150px !important
                z-index: 1
                margin-bottom: 30px !important

            h1
                text-transform: uppercase
                font-size: 15px !important
                color: #C3C4CD
                margin-bottom: 30px !important
            p
                color: #C3C4CD
                font-size: 13px !important
                padding-bottom: 15px !important

footer
    font-family: $lato
    background-color: #3676BB
    height: 300px !important
    text-align: center
    h1 
        font-size: 25px !important
        font-weight: normal
        color: #B0C5DC
        padding: 30px !important
        text-transform: uppercase
    h4
        font-weight: normal
        color: #B0C5DC
        padding-bottom: 20px
        font-size: 15px
        width: 60%
        margin: 0 auto
    ul
        i
            opacity: 50%
            color: #B0C5DC
            font-size: 40px
            margin: 15px
            padding-bottom: 30px
    .basfooter
        background-color: #363B47
        height: 30px
        padding: 20px
        margin-top: -50px !important
        color: #6A6C72

@media screen and (min-width: 768px) and (max-width: 1023px)

header
    font-family: $lato
    background-color: #363B47
    display: flex
    text-align: center
    justify-content: space-evenly
    align-items: center
    height: 60px
    h1
        font-size: 25px
        color: white
        font-weight: normal

nav
    font-family: $lato
    display: flex
    justify-content: space-between
    align-items: center
    justify-content: center
    ul
        li
            text-transform: uppercase
            font-weight: lighter
            display: inline
            color: black
            font-size: 13px
            padding-left: 10px !important
            padding-right: 10px !important
            padding-bottom: 30px
            padding-top: 15px
            a
                color: #FFEAE5
                text-decoration: none
            &:hover
                background-color: #3676BB
                border-radius: 3px

body
    background-color: #EFEFF1
    margin: 0
    padding: 0

.section1
    img
        height: 150px !important
        width: 100%
        margin-bottom: -60px

.section2
    font-family: $lato
    background-color: #E8E6E0
    height: 200px !important
    h2
        font-size: 20px
        font-weight: normal
        text-align: center
        width: 80% !important
        margin: 30px auto
        color: #7A848D
        padding-top: 50px !important
        .span1
            font-weight: bolder
            background-color: #26A2CC
            color: white
            padding: 2px
        .span2
            font-weight: bolder
            color: #26A2CC
        .span3 
            font-weight: bolder
            color: #69747F

.section3
    font-family: $lato
    display: flex !important
    flex-wrap: wrap !important
    width: 90% !important
    margin: 30px auto
    justify-content: space-evenly
    align-items: center
    .boite1, .boite2, .boite3, .boite4
        margin-top: 20px
        margin-left: 10px !important
        margin-right: 10px !important
        background-color: #E8E6E0
        text-align: center
        height: 280px !important
        width: 280px !important
        border-radius: 10px
        i
            font-size: 20px !important
            margin-top: 20px
            background-color: white
            padding: 15px !important
            border-radius: 50%
            color: #3676BB
        h2
            color: #5C5C71
            text-transform: uppercase
            font-size: 13px !important
            margin-bottom: -10px
        h4
            font-size: 13px !important
            font-weight: normal
            color: #26A2CC
        p
            font-size: 13px !important
            color: #7E7E7E
            text-align: center
            width: 80%
            margin: 0 auto

.section4
    font-family: $lato
    display: flex !important
    flex-wrap: wrap !important
    width: 90% !important
    margin: 0 auto
    padding-top: 50px
    justify-content: space-around
    .portfolio
        width: 80% !important
        height: 290px
        margin: 20px
        h1
            color: #839199
            font-size: 15px !important
        .p1
            color: #A9A9AA
            font-size: 13px !important
        p
            color: #7A7A7A
            font-size: 13px !important

        button
            background-color: #26A2CC
            color: white
            border: #26A2CC solid 1px
            border-radius: 5px
            margin-top: 10px !important
            padding-top: 15px
            padding-bottom: 15px
    .cartes
        display: flex
        width: 80% !important
        margin: 15px
        .carte1, .carte2, .carte3
            text-align: center
            color: white
            background-color: #38485F
            width: 80% !important
            height: 290px !important
            margin: 3px
            border-radius: 10px
            img
                height: 120px !important
                width: 100% !important
                z-index: 1
                margin-bottom: 30px !important

            h1
                text-transform: uppercase
                font-size: 15px !important
                color: #C3C4CD
                margin-bottom: 30px !important
            p
                color: #C3C4CD
                font-size: 13px !important
                padding-bottom: 15px !important

footer
    font-family: $lato
    background-color: #3676BB
    height: 220px !important
    text-align: center
    h1 
        font-size: 25px !important
        font-weight: normal
        color: #B0C5DC
        padding: 20px !important
        text-transform: uppercase
    h4
        font-weight: normal
        color: #B0C5DC
        padding-bottom: 10px !important
        font-size: 15px
        width: 60%
        margin: -10px auto !important
    ul
        i
            opacity: 50%
            color: #B0C5DC
            font-size: 30px !important
            margin: 15px
            padding-bottom: 30px !important
    .basfooter
        background-color: #363B47
        height: 20px !important
        padding: 20px
        margin-top: -40px !important
        color: #6A6C72

@media screen and (min-width: 425px) and (max-width: 767px)